{% extends "header.html" %}
{% block body %}
<div role="tabpanel">

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#test" aria-controls="advanced" role="tab" data-toggle="tab">Test</a></li>
    <li role="presentation"><a href="#practice" aria-controls="practice" role="tab" data-toggle="tab">Practice</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade " id="basics"><p><a href="/questions/users">Question entry</a></p></div>
    <div role="tabpanel" class="tab-pane fade in active" id="test">
	<ul>
	    <li><a href="/createtest/">Create Test</a>
	    <li><a href="/testlist/">View Available Test</a>
	</ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="practice"><p>Practice more</p></div>
    <div role="tabpanel" class="tab-pane fade" id="settings"><p>Custom Settings</p></div>
  </div>

</div>


</div>
{% endblock %}