{% extends "header.html" %}

{% block head %}

<style>
#nav {
    line-height:30px;
    background-color:#F0F0F0 ;
    padding:5px;
    float: left;	
    margin: 5px;      
}
#questionButtons {
    line-height:30px;
    background-color:#F0F0F0 ;
    padding:5px;
    float: left;	
    margin: 5px;      
}

#ques {
    width:80%;
    float:left;
    padding:10px;	 	 
}

#footer {
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
}

#rightBox {
	float:left;
	background-color:lightgreen;
	border:4px  solid navy;
	width:20%;
	box-shadow: 10px 10px 5px #888888;
}
#TimerDivision {
    background-color: lightyellow;
    padding: 15px;
    border: 5px solid navy;
    margin: 15px;
}

.TimerClass{
color: blue;
font-weight: bold;
}
</style>

{% endblock %}

{% block body %}

<div id="main" style="width: 100%; overflow:auto;">
	<div id="nav" style="float:left; width:70%;">
		<div class="btn-group-vertical" id="questionButtons" role="group" aria-label="..." style="visibility: hidden;">
		</div>


		<div id="ques" style="visibility: hidden;">
			 <form method="POST">
				<p id="question" style="font-size:120%; color:purple;%"></p>
				<input type="radio" name="option" value="{{option1}}"> <span id="option1"></span>
				<br>
				<input type="radio" name="option" value="{{option2}}"> <span id="option2"></span>
	   		    <br>
				<input type="radio" name="option" value="{{option3}}"> <span id="option3"></span>
				<br>
				<input type="radio" name="option" value="{{option4}}"> <span id="option4"></span>
				<br>
				<input class="btn btn-default" type="button" onclick="markAnswerClicked()" value="Mark Answer">
			 </form>
		</div>
		<div id="footer">
			<button type="button" onclick="startButtonClicked()" id="startButton" style="visibility: visible;">
			Start test
			</button>
			
			<button type="button" id="endButton" onclick="endTest()" style="visibility: hidden;">
			End test
			</button>
		</div>
	</div>
	
	<div id="rightBox" >
		<h4>Remaining Time</h4>
		<div id="TimerDivision"><p id="Timer">Timer to be started</p></div>
	</div>

</div>
<div id="settings" style="visibility: hidden;">
<span id="databaseQuestions">{{ databaseQuestions }}</span>
<span id="testQuestions">{{ testQuestions }}</span>
<span id="hours">{{ hours }}</span>
<span id="minutes">{{ minutes }}</span>
<span id="seconds">{{ seconds }}</span>
</div>
<script src="{{ url_for('static', filename='js/test.js') }}">
</script>
{% endblock %}
